<div class="container">
	<div class="row">
		<h2>献立予定表</h2>
	</div>

	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>日時</th>
				<th>料理名</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @calendar.each do |calendar| %>
			<tr>
				<td><%= calendar.plan %></td>
				<td><%= link_to calendar.recipe.name, users_recipe_path(calendar.recipe) %></td>
				<td>
				<%= link_to "編集", edit_users_calendar_path(calendar),class: "btn-lg btn-success" %>
				<%= link_to "削除", users_calendar_path(calendar), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-lg btn-danger" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>