<div class="row">
  <div class="col text-center">
      <div class="store-picup">
      <h1>店舗一覧</h1>
          <% @stores.each do |store| %>
        	  <div class = "store-box">
        	  	<div class = "image-box">
        	  		<%= link_to users_store_path(store) do %>
        	  		  <%= attachment_image_tag store, :image,fallback: "no_image.jpg",size: "200x200"%>
        	  		<% end %>
        	  	</div>
    	  	    <%= store.name %>
    	      </div>
    	   <% end %>
        </div>
    </div>
</div>
