<section class="inner">
  <h2>レシピカテゴリ管理</h2>

        <%= form_with model: @recipe_category, url:admin_recipe_category_path(@recipe_category.id) do |f| %>
	    <%= f.label :name, "カテゴリ名" %></br>
	    <%= f.text_field :name %>

	    <%= f.submit "編集",class: "btn btn-primary" %>
    <% end %>
</section>