<section class="inner">
	<div class="col text-center">
	    <h2><%= @ingredient.name %>の編集</h2>
	</div>
    <%= render "form", ingredient: @ingredient, url: users_ingredient_path(@ingredient), submit: "編集" %>
</section>