 <div class="about">
    <h1 class="ttl">Mehiとは</h1>
	<div class="mehi-explanation">
		<p><strong>レシピ投稿・共有</strong>＋<strong>料理の献立サポート
		   </strong>サイトです。</br>
		   </br>　忙しい方やレシピにお困りの方の、
		   料理を作るまでの負担を軽減し、</br>ユーザーの作りたい調理の時間に使えることにより、</br>
		   毎日料理が<strong>楽しく</strong>なればという思い込めこのサイトを作りました。
		</p>
	</div>
</div>



<h2 class="explanation-ttl">使い方</h2>
<div class="explanation">
	<p>・他のユーザーが投稿レシピを見ることができます。</p>
	<p>・一覧から気になるレシピをクリックするとそのレシピの詳細情報が確認できます。</p>
    <h4 class="explanation-subttl">会員登録すると</h4>
	<p>⭐️レシピを投稿できます。</p>
	<p>⭐️他のユーザーのレシピにいいねを押すことができます。</p>
	<p>⭐️作ってみたいレシピをお気に入り登録できます。</p>
	<p>⭐️レシピ詳細で作りたい日付を指定いただくと、今後のレシピの予定を立てられます。</p>
	<p>⭐️冷蔵庫から家にある食材を登録でき確認することができます。</p>
</div>

